/* MAP */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
    overflow:hidden;
}
.clearfix {
  clear: both;
}
/* MAP */
#map-canvas {
  height: 100%;
  width: 100%;
}
/* POPUP */
#popup {
  transition: all .2s linear;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 253px;
  border-radius: 10px;
  margin-top: -126px;
  margin-left: -160px;
  background: #fff;
  display: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.17);
  font-family: "Open Sans", sans-serif;
  z-index: 1000;
}
#popup #popup-header {
  font-weight: 400;
  font-size: 16px;
  padding: 20px 20px 15px;
}
#popup #popup-text {
  font-weight: 300;
  font-size: 16px;
  padding: 0px 20px 25px;
}
#popup #popup-close {
  background: #4ca4df;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#popup #popup-close:hover {
  background: #43a0dd;
}
/* SIDE MENU */
#side-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 260px;
  z-index: 200;
  box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.5);
}
#side-menu #user-information {
  margin: 18px;
}
#side-menu #user-information #profile-picture {
  width: 71px;
}
#side-menu #user-information #user-data {
  position: absolute;
  width: 106px;
  left: 100px;
  top: 33px;
  font-family: Open Sans;
  color: #4d4c4c;
}
#side-menu #user-information #user-data #user-name {
  font-weight: 500;
  font-size: 18px;
}
#side-menu #user-information #user-data #user-email {
  font-weight: 300;
  font-size: 12px;
  /*font-style: italic;*/

}
#side-menu #menu-options {
  width: 240px;
  margin-left: 0px;
  list-style-type: none;
  padding: 0px;
  margin-left: 20px;
}
#side-menu #menu-options li {
  display: block;
  padding: 15px 0px 15px 0px;
  border-top: 1px solid #cac8c8;
  font-family: Open Sans;
  color: #4d4c4c;
  font-weight: 300;
  font-size: 15px;
}
#side-menu #menu-options li #notifications-bubble,
#side-menu #menu-options li #toggle-map {
  display: inline-block;
  vertical-align: top;
  height: 15px;
  background-color: #fc4700;
  border-radius: 7.5px;
  font-family: Open Sans;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  margin-top: 4px;
}
#side-menu #menu-options li #toggle-map {
  background-color: #26df35;
  padding: 0 5px 0 4px;
}
#side-menu #qr-code {
  position: absolute;
  left: 50%;
  margin-left: -62px;
  bottom: 68px;
  width: 125px;
}
/* CONTROLS */
#top-menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  z-index: 150;
}
#top-menu .circular-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .1s linear;
}
#top-menu .circular-button img {
  margin: 25px;
}
#top-menu #default-menu #menu-button {
  float: left;
  background: rgba(0, 0, 0, 0.35);
  margin: 20px;
}
#top-menu #default-menu #menu-button:hover {
  background: rgba(0, 0, 0, 0.45);
}
#top-menu #default-menu #draw-button {
  float: right;
  background: rgba(52, 152, 219, 0.7);
  margin: 20px;
}
#top-menu #default-menu #draw-button:hover {
  background: rgba(52, 152, 219, 0.8);
}
#top-menu #draw-menu {
  display: none;
}
#top-menu #draw-menu #cancel-button {
  float: left;
  background: rgba(231, 76, 60, 0.7);
  margin-top: 20px;
  margin-left: 20px;
}
#top-menu #draw-menu #cancel-button:hover {
  background: rgba(231, 76, 60, 0.8);
}
#top-menu #draw-menu #undo-button {
  float: right;
  display: none;
  background: rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  margin-right: 20px;
}
#top-menu #draw-menu #undo-button:hover {
  background: rgba(0, 0, 0, 0.45);
}
#top-menu #draw-menu #submit-button {
  float: right;
  background: rgba(42, 186, 103, 0.7);
  margin-top: 20px;
  margin-right: 20px;
}
#top-menu #draw-menu #submit-button:hover {
  background: rgba(42, 186, 103, 0.8);
}
#top-menu #draw-menu #area-left {
  float: left;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 50px;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  transition: all .1s linear;
  width: calc(100% - 280px);
}
#top-menu #draw-menu #area-left.area-small {
  width: calc(100% - 400px);
}
#top-menu #draw-menu #area-left #number-left {
  font-weight: 500;
  font-size: 35px;
  margin-top: 13px;
}
#top-menu #draw-menu #area-left #phrase-left {
  margin-top: -5px;
  font-weight: 400;
  font-size: 20px;
}
#top-menu #draw-menu #area-left #phrase-left span {
  font-size: 14px;
  vertical-align: top;
}
/* DRAWING */
#draw-types {
  height: 160px;
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  overflow: hidden;
}
#draw-types .ind-draw {
  float: left;
  width: 25%;
  height: 140px;
  margin-top: 20px;
  bottom: -160px;
  position: relative;
}
#draw-types .ind-draw.draw-active {
  height: 160px;
  margin-top: 0px;
}
#draw-types .ind-draw#pan-map {
  background: #4ca4df;
}
#draw-types .ind-draw#draw-trees {
  background: #47d282;
}
#draw-types .ind-draw#draw-flowers {
  background: #dd6ca2;
}
#draw-types .ind-draw#draw-park {
  background: #f4d248;
}
#draw-types .ind-draw img {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -32px;
}
