html, body {
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px
    overflow:hidden;
}

.clearfix {
    clear:both;
}

/* LOGIN PAGE STYLES */

#login-container {
	position: absolute;
	z-index: 300;
	height: 100%;
	width: 100%;
	background-color: #fff;
	background-image: url(../img/bristol-map-background.png);
	background-attachment: fixed;
	background-position: center;
	#login-items {
		position: absolute;
		width: 300px;
		top: 50%;
		left: 50%;
		margin-left: -150px;
		margin-top: -118px;
		text-align: center;
		#mybristol-logo {
			width: 260px;
			margin-left: 0px;
			margin-bottom: 20px;
		}
		input, button {
			box-sizing: border-box;
			margin: 0 auto;
			background-color: #e8e8e8;
			border-radius: 8px;
			border: 0px;
			width: 100%;
			padding: 8px 12px 8px 12px;
			margin-bottom: 8px;
			font-family: Open Sans;
			font-weight: 300;
			font-size: 20px;
			color: #818181;
		}
		input:focus {
			background-color: #dad9d9;
			color: #6b6b6b;
		}
		button {
			background-color: #2caf00;
			font-weight: 500;
			color: #fff;
			text-align: center;
		}
		button:focus {
			background-color: #259200;
		}
	}
	/* REMOVE FOCUS ON ELEMENTS */
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		outline: none;
	}
}

/* MAP */

#map-canvas {
    height:100%;
    width:100%;
}

/* POPUP */

#popup {
    transition:all .2s linear;
    position:fixed;
    left:50%;
    top:50%;
    width:290px;
    height:253px;
    border-radius:10px;
    margin-top:-126px;
    margin-left:-145px;
    background:#fff;
    display:none;
    box-shadow:0px 0px 5px rgba(0,0,0,0.17);
    font-family:"Open Sans", sans-serif;
    z-index:1000;
    #popup-header {
        font-weight:400;
        font-size:16px;
        padding:20px 20px 15px;
    }
    #popup-text {
        font-weight:300;
        font-size:16px;
        padding:0px 20px 25px;
    }
    #popup-close {
        background:#4ca4df;
        color:#fff;
        font-weight:300;
        font-size:14px;
        text-align:center;
        padding:10px;
        cursor:pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            background:darken(#4ca4df, 2%);
        }
    }
}

/* SIDE MENU */

#mask-layer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
	display:none;
}

#side-menu {
	position: absolute;
	background-color: #fff;
	height: 100%;
	width: 260px;
	left: -260px;
	z-index: 200;
	/*box-shadow: 0 0 60px 20px rgba(0,0,0,0.5);*/
	#user-information {
		margin: 18px;
		#profile-picture {
			width: 71px;
		}
		#user-data {
			position: absolute;
			width: 106px;
			left: 100px;
			top: 33px;
			font-family: Open Sans;
			color: #4d4c4c;
			#user-name {
				font-weight: 500;
				font-size: 18px;
			}
			#user-email {
				font-weight: 300;
				font-size: 12px;
			}
		}
	}
	#menu-options {
		width: 240px;
		margin-left: 0px;
		list-style-type: none;
		padding: 0px;
		margin-left: 20px;
		li {
			display: block;
			padding: 18px 0px 18px 0px;
			border-top: 1px solid #cac8c8;
			font-family: Open Sans;
			color: #4d4c4c;
			font-weight: 400;
			font-size: 18px;
			#notifications-bubble {	
				display: inline-block;
				vertical-align: top;
				height: 20px;
				background-color: #fc4700;
				border-radius: 10px;
				font-family: Open Sans;
				color: #fff;
				font-size: 15px;
				font-weight: 500;
				padding: 0 7px 0 7px;
				margin-left: 7px;
				margin-top: 2px;
			}
			#toggle-map-container {
				display: inline-block;
				vertical-align: top;
				height: 26px;
				width: 46px;
				margin-left: 7px;
				margin-top: 0px;
				#toggle-map-button {
					height: 26px;
					background-color: #26df35;
					border-radius: 13px;
					z-index: 210;
					padding: 0 18px 0 18px;
				}
				#toggle-map-cursor {
					width: 26px;
					height: 26px;
					background-color: #fff;
					border-radius: 13px;
					border: 1px solid #cac8c8;
					z-index: 220;
					margin-top: -27px;
					margin-left: 0px;
				}
			}
		}
	}
	#qr-code {
		position: absolute;
		left: 50%;
		margin-left: -62px;
		bottom: 68px;
		width: 125px;		
	}
}

/* CONTROLS */

#top-menu {
    position:absolute;
    z-index:100;
    width:100%;
	z-index: 150;
    .circular-button {
        width:100px;
        height:100px;
        border-radius:50%;
        cursor:pointer;
        transition:all .1s linear;
        img {
            margin:25px;
        }
    }
    #default-menu { 
		#outer-menu-button {
			float:left;
			margin: 20px;
			#menu-button {
				position: absolute;
				background-color:rgba(0, 0, 0, 0.35);
				z-index: 150;
				&:hover {
					background:rgba(0, 0, 0, 0.45);
				}
			}
			#menu-button-duplicate {
				display: none;
				position: absolute;
				z-index: 100;
			}
		}
        #draw-button {
            float:right;
            background:rgba(52, 152, 219, 0.7);
            margin:20px;
            &:hover {
                background:rgba(52, 152, 219, 0.8);
            }
        }
    }
    #draw-menu {
        display:none;
        #cancel-button {
            float:left;
            background:rgba(231, 76, 60, 0.7);
            margin-top:20px;
            margin-left:20px;
            &:hover {
                background:rgba(231, 76, 60, 0.8);
            }
        }
        #undo-button {
            float:right;
            display:none;
            background:rgba(0, 0, 0, 0.35);
            margin-top:20px;
            margin-right:20px;
            &:hover {
                background:rgba(0, 0, 0, 0.45);
            }
        }
        #submit-button {
            float:right;
            display:none;
            background:rgba(42, 186, 103, 0.7);
            margin-top:20px;
            margin-right:20px;
            &:hover {
                background:rgba(42, 186, 103, 0.8);
            }
        }
        #area-left {
            float:left;
            background:rgba(255, 255, 255, 0.7);
            margin-top:20px;
            margin-left:20px;
            border-radius:50px;
            height:100px;
            font-family:"Open Sans", sans-serif;
            text-align:center;
            transition:all .1s linear;
            width:~"calc(100% - 160px)"; 
            &.area-small {
                width:~"calc(100% - 400px)";
            }
            #number-left {
                font-weight:500;
                font-size:35px;
                margin-top:13px;
            }
            #phrase-left {
                margin-top:-5px;
                font-weight:400;
                font-size:20px;
                span {
                    font-size:14px;
                    vertical-align:top;
                }
            }
        }
    }
}

/* DRAWING */

#draw-types {
    height:160px;
    z-index:100;
    position:absolute;
    bottom:0;
    width:100%;
    display:none;
    overflow:hidden;
    .ind-draw {
        float:left;
        width:25%;
        height:140px;  
        margin-top:20px;
        bottom:-160px;
        position:relative;
        &.draw-active {
            height:160px;
            margin-top:0px;
        }
        &#pan-map {
            background:#4ca4df;
        }
        &#draw-trees {
            background:#47d282;
        }
        &#draw-flowers {
            background:#dd6ca2;
        }
        &#draw-park {
            background:#f4d248;
        }
        img {
            position:absolute;
            left:50%;
            margin-left:-32px;
            top:50%;
            margin-top:-32px;
        }
    }
}

/* RESPONSIVENESS FOR MOBILE */

@media only screen and (min-width : 320px) and (max-width : 768px) {

	/* CONTROLS */

	#top-menu {
        top:10px;
		.circular-button {
			width:50px;
			height:50px;
			img {
				margin:12px;
				width: 25px;
			}
		}
		#default-menu {
			#outer-menu-button, #draw-button {
				margin: 15px;
			}
		}
		#draw-menu {
			#cancel-button, #undo-button, #submit-button, #area-left {
				margin-top:15px;
				margin-left: 15px;
				margin-right: 0px;
			}
			#submit-button {
				margin-right: 15px;
			}
			#area-left {
				height:50px;
				width:~"calc(100% - 95px)";
                &.area-small {
                    width:~"calc(100% - 225px)";
                }
                #number-left {
                    margin-top:1px;
                    font-size:23px;
                }
                #phrase-left {
                    font-size:13px;
                    span {
                        font-size:10px;
                    }
                }
			}
		}
	}

	/* DRAWING */

	#draw-types {
        height:80px;
		.ind-draw {
			height:70px;   
            margin-top:10px;
            bottom:-80px;
			&.draw-active {
				height:80px;
				margin-top:0px;
			}
			img {
				width: 32px;
				margin-left:-16px;
				margin-top:-16px;
			}
		}
	}
}

/* loading animation styles */

#loading-animation {
	margin-left: 137px;
	display: none;
	width:46px;
}
.circleG {
	background-color:#FFFFFF;
	float:left;
	height:10px;
	margin-left:5px;
	width:10px;
	-moz-animation-name:bounce_circleG;
	-moz-animation-duration:1.5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-border-radius:7px;
	-webkit-animation-name:bounce_circleG;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-border-radius:7px;
	-ms-animation-name:bounce_circleG;
	-ms-animation-duration:1.5s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-border-radius:7px;
	-o-animation-name:bounce_circleG;
	-o-animation-duration:1.5s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-border-radius:7px;
	animation-name:bounce_circleG;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	border-radius:7px;
}
#circleG_1 {
	-moz-animation-delay:0.3s;
	-webkit-animation-delay:0.3s;
	-ms-animation-delay:0.3s;
	-o-animation-delay:0.3s;
	animation-delay:0.3s;
}
#circleG_2 {
	-moz-animation-delay:0.7s;
	-webkit-animation-delay:0.7s;
	-ms-animation-delay:0.7s;
	-o-animation-delay:0.7s;
	animation-delay:0.7s;
}
#circleG_3 {
	-moz-animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
	-ms-animation-delay:0.9s;
	-o-animation-delay:0.9s;
	animation-delay:0.9s;
}
@-moz-keyframes bounce_circleG {
	0%{
	}
	50% {
		background-color:#2caf00;
	}
	100% {
	}
}
@-webkit-keyframes bounce_circleG {
	0%{
	}
	50%{
		background-color:#2caf00;
	}
	100%{
	}
}
@-ms-keyframes bounce_circleG {
	0%{
	}
	50%{
	background-color:#2caf00}
	100%{
	}
}
@-o-keyframes bounce_circleG {
	0%{
	}
	50%{
		background-color:#2caf00;
	}
	100%{
	}
}
@keyframes bounce_circleG{
	0%{
	}
	50%{
		background-color:#2caf00;
	}
	100%{
	}
}