/* MAP */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.clearfix {
  clear: both;
}
/* MAP */
/* CONTROLS */
/* DRAWING */
#draw-types {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#draw-types .ind-draw {
  float: left;
  width: 33.3%;
  height: 140px;
  position: relative;
}
#draw-types .ind-draw:first-child {
  width: 33.4%;
}
#draw-types .ind-draw.active {
  height: 160px;
  margin-top: -20px;
}
#draw-types .ind-draw#draw-nature {
  background: #47d282;
}
#draw-types .ind-draw#draw-flower {
  background: #dd6ca2;
}
#draw-types .ind-draw#draw-picnic {
  background: #f4d248;
}
#draw-types .ind-draw img {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -32px;
}
