html, body {
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px

}

.clearfix {
    clear:both;
}

/* MAP */

#map-canvas {
    height:100%;
    width:100%;
}

/* SIDE MENU */

#side-menu {
    display:none;
	position: absolute;
	background-color: #fff;
	height: 100%;
	width: 260px;
	z-index: 200;
	box-shadow: 0 0 60px 20px rgba(0,0,0,0.5);
	#user-information {
		margin: 18px;
		#profile-picture {
			width: 71px;
		}
		#user-data {
			position: absolute;
			width: 106px;
			left: 100px;
			top: 33px;
			font-family: Open Sans;
			color: #4d4c4c;
			#user-name {
				font-weight: 500;
				font-size: 18px;
			}
			#user-email {
				font-weight: 300;
				font-size: 12px;
				/*font-style: italic;*/
			}
		}
	}
	#menu-options {
		width: 240px;
		margin-left: 0px;
		list-style-type: none;
		padding: 0px;
		margin-left: 20px;
		li {
			display: block;
			padding: 15px 0px 15px 0px;
			border-top: 1px solid #cac8c8;
			font-family: Open Sans;
			color: #4d4c4c;
			font-weight: 300;
			font-size: 15px;
			#notifications-bubble, #toggle-map {	
				display: inline-block;
				vertical-align: top;
				height: 15px;
				background-color: #fc4700;
				border-radius: 7.5px;
				font-family: Open Sans;
				color: #fff;
				font-size: 10px;
				font-weight: 500;
				padding: 0 5px 0 5px;
				margin-left: 5px;
				margin-top: 4px;
			}
			#toggle-map {
				background-color: #26df35;
				padding: 0 5px 0 4px;
			}
		}
	}
	#qr-code {
		position: absolute;
		left: 50%;
		margin-left: -62px;
		bottom: 68px;
		width: 125px;		
	}
}

/* CONTROLS */

#top-menu {
    position:absolute;
    z-index:100;
    width:100%;
	z-index: 150;
    .circular-button {
        width:100px;
        height:100px;
        border-radius:50%;
        cursor:pointer;
        img {
            margin:25px;
        }
    }
    #default-menu {        
        #menu-button {
            float:left;
            background:rgba(0, 0, 0, 0.35);
            margin:20px;
            &:hover {
                background:rgba(0, 0, 0, 0.45);
            }
        }
        #draw-button {
            float:right;
            background:rgba(52, 152, 219, 0.7);
            margin:20px;
            &:hover {
                background:rgba(52, 152, 219, 0.8);
            }
        }
    }
    #draw-menu {
        display:none;
        #cancel-button {
            float:left;
            background:rgba(231, 76, 60, 0.7);
            margin-top:20px;
            margin-left:20px;
            &:hover {
                background:rgba(231, 76, 60, 0.8);
            }
        }
        #undo-button {
            float:right;
            display:none;
            background:rgba(0, 0, 0, 0.35);
            margin-top:20px;
            margin-right:20px;
            &:hover {
                background:rgba(0, 0, 0, 0.45);
            }
        }
        #submit-button {
            float:right;
            background:rgba(42, 186, 103, 0.7);
            margin-top:20px;
            margin-right:20px;
            &:hover {
                background:rgba(42, 186, 103, 0.8);
            }
        }
        #area-left {
            float:left;
            background:rgba(255, 255, 255, 0.7);
            margin-top:20px;
            margin-left:20px;
            border-radius:50px;
            height:100px;
            width:~"calc(100% - 400px)";
        }
    }
}

/* DRAWING */

#draw-types {
    z-index:100;
    position:absolute;
    bottom:0;
    width:100%;
    display:none;
    .ind-draw {
        float:left;
        width:25%;
        height:140px;       
        position:relative;
        &.draw-active {
            height:160px;
            margin-top:-20px;
        }
        &#pan-map {
            background:#4ca4df;
        }
        &#draw-trees {
            background:#47d282;
        }
        &#draw-flowers {
            background:#dd6ca2;
        }
        &#draw-park {
            background:#f4d248;
        }
        img {
            position:absolute;
            left:50%;
            margin-left:-32px;
            top:50%;
            margin-top:-32px;
        }
    }
}